// NOTE: tailwindでの動的クラス許容は非推奨＆複雑なスタイルのため、sparkle要素のスタイルに関してはscssで適用する

@for $i from 0 through 19 {
  $size: (7 + $i) + px;

  .sparkle-#{$i} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size;
    height: $size;
    transform: rotate((random(300)) + deg);

    &:after {
      transform: scale(2);
      position: absolute;
      display: block;
      content: "";
      width: $size;
      height: $size;
      border-radius: 50%;
      transform-origin: (60 - $i * 6) + px (60 - $i * 6) + px;
      animation: rotate (3.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
      filter: blur(6px);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
    opacity: 0;
    background-color: #fff;
  }
  50% {
    opacity: 1;
    background-color: #00eaff;
  }
  100% {
    transform: rotate(360deg) translate3d(0, 0, 0);
    opacity: 0;
    background-color: #fff;
  }
}
